.employee-profile {
	&__header {
		margin: 0;
		padding: 1.75rem;
		border: 1px solid grey;
		border-radius: 1rem;
	}

	&__name {
		margin-top: .5rem;
	}

	&__title {
		margin: -.75rem 0 0 0;
		font-style: italic;
		color: grey;
	}

	&__address {
		margin: 0;
		font-weight: 600;
	
		&::before { content: '<' }
		&::after { content: '>' }
	}
}
